.category-bar {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.chip {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #df9d2b;
  background-color: rgb(255, 247, 237);
  color: rgb(112, 38, 13);
  font-size: 14px;
}

.chip:hover {
  background-color: rgb(248, 210, 166);
}

.chip.active {
  background-color: #341914;
  color: #eeccb5;
  border: 1px solid #341914;
}
