.counter {
  display: flex;
  gap: 1px;
}

.count {
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: antiquewhite;
  border: 1px solid #c99947;
  border-radius: 5px;
  color: rgb(112, 38, 13);
}
.order-counter {
  padding: 5px;
  background-color: antiquewhite;
  border: 1px solid #c99947;
  border-radius: 5px;
  color: rgb(112, 38, 13);
  font-size: 1rem;
}
